<!DOCTYPE html>
<html ng-app>
<head>
<style>
</style>

<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/cards.css" />
</head>

<body ng-controller="HandCtrl" model="discard">

<div class="container" ng-class="{'container-loaded': loaded}">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <button class="btn btn-danger" ng-click="resetDeck()">Reset Deck</button>

             <div id="cards-container">
                <img ng-repeat="card in cards" class="card {{{true: 'card-selected'}[card.selected]}}" ng-src="img/{{getCardFromIndex(card.number)}}.png"} ng-click="card.selected = !card.selected">
            </div>
        </div>
    </div>
</div>

<script src="bower_components/underscore/underscore-min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="una_js/una.js"></script>
<script src="js/app.js"></script>
</body>

</html>
