<!DOCTYPE html>
<html ng-app>
<head>
<style>
</style>

<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/cards.css" />
</head>

<body ng-controller="HandCtrl" model="discard" class="background">
<div class="container-fluid" ng-class="{'container-loaded': loaded}">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <img src="img/logo.png" class="img-responsive logo" width="400">
      <div class="btn-containers">
        <button class="btn btn-danger" ng-click="resetDeck()">Reset Deck</button>
        <button class="btn btn-success" ng-click="distributeEvenly()">Distribute 13</button>
        <h2 class="black">{{cards.length}} card(s) in pile</h2>
      </div>
      <div class="discarded-cards-container">
        <img ng-repeat="card in cards" class="card {{{true: 'card-selected'}[card.selected]}}" ng-src="img/{{getCardFromIndex(card)}}.png"} style="{{card.style}}">
      </div>
      
    </div>
  </div>


  <div ng-repeat="player in players">
      <b>{{player.name}}</b>: {{player.cards.length}}
  </div>
</div>

<script src="bower_components/underscore/underscore-min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="una_js/una.js"></script>
<script src="js/app.js"></script>
</body>

</html>
